<div class="row">
  <div class="col-lg-8">
    <h4>Chat messages</h4>
    <% @messages.each do |message| %>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-1">
              <%= image_tag(message.dialect_type, width: "40", height: "40") %>
            </div>
            <div class="col-md-11">
              <p class="card-text">
                <span class="text-muted"><b><%= message.author %></b> at <b><%= l message.created_at, format: :long %></b> says</span><br>
                <%= message.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4" id="js-active-users" data-url="<%= active_users_path %>"></div>
</div>
<div class="row">
  <%= form_for @message, url: messages_path, method: "post" do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>

    <%= f.submit "Send message", class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>

<% content_for :javascript do %>
  <script>
  $(function(){
    $.ajax({
      url: $('#js-active-users').data('url'),
      type: 'get',
      error: function(data){
        $('#js-active-users').html('It was not possible to bring the active users.');
      }
    });
   });
  </script>
<% end %>
