<div class="row">
  <div class="col-lg-8">
    <h4>Chat messages</h4>
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-md-1">
            <img alt="tczf1128" src="https://www.gravatar.com/avatar/cdb20ef4aeef6275bad8c3a370a7f816?s=40">
          </div>
          <div class="col-md-11">
            <p class="card-text">
              <span class="text-muted">Ronaldo at 14:32:05 16 June 2016 says</span><br>
              hi
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <h4>Active users</h4>
    <ul class="active-users">
      <li><%= image_tag("avatar-blank", width: "29", height: "29") %> Ronaldo</li>
      <li><%= image_tag("avatar-blank", width: "29", height: "29") %> Ronaldo</li>
      <li><%= image_tag("avatar-blank", width: "29", height: "29") %> Ronaldo</li>
      <li><%= image_tag("avatar-blank", width: "29", height: "29") %> Ronaldo</li>
    </ul>
  </div>
</div>
<div class="row">
  <%= form_for @message, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>

    <%= f.submit "Send message", class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
